[Unit]
Description=MPD Notification Daemon
After=network.target mpd.service

[Service]
Type=simple
ExecStart=/usr/bin/mpnotd
Restart=on-failure

[Install]
WantedBy=default.target
